#defaultBgImg {
    background-image: url("/images/home.png");
    position: fixed;
    height: 100%; width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1000;
    opacity: 0.90;
}

#parkBtn {
    /* background-color: #0d0c0d02; */
    border: 1px solid black;
    /* box-shadow: 5px 10px 8px #888888; */

}
#parkBtn:hover {
    /* background-color: #0d0c0d02; */
    color: rgb(76, 76, 160);
    background-color: #d8ddcd;
}

#mountBtn {
    border: 1px solid black;
}

#mountBtn:hover {
    color: rgb(76, 76, 160);
    background-color: #d8ddcd;
}

.txtCenter {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

q {
    font-style: italic;
    background-color: #d8ddcd;
}

.card{
    margin: 1rem 0px;
}

.container {
    position: relative;
}